* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5 !important;
}

.backgroundColor{
  background-color: #000000;
}
.whitebg{
  background-color: white;
}

.viewheight{
  height: 100vh;
}

.image{
  max-width: 100px;
  height: auto;
}


.font-link{
  font-family: 'Josefin Sans', sans-serif;
}


.footer-bg{
  background-size: cover;
  background-image: url('https://i.ibb.co/6JFqjbP/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg');
}

.image-bg{
  background-size: cover;
  background-image: url('https://i.ibb.co/hH9mVyT/26669.jpg');
}


.login-bg{
  background-size: cover;
  background-image: url('https://i.ibb.co/dkLXsZj/Kicks-PHBackground.jpg');
}

#navBar {
  background-image: url('https://i.ibb.co/6JFqjbP/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg');;
  font-size: 20px;
  text-decoration-color: white;
  justify-content: center;

}